<!-- Add ingredients -->
<div class="page-header">
  <h3>Ingredients</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_combination" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="form-group">
        <input type="hidden" id="recipe" name="recipe_id" class="form-control" value="<%=@recipe.id%>">
          <div class="checkbox">
            <% @ingredients.each do |ingredient| %>
          <ul>
            <label>
              <input type="checkbox" id="ingredient_id" name="ingredient_id[]" value="<%=ingredient.id %>" >
              <li>
                <%= ingredient.name %>
              </li>
              </ul>
              <% end %>
            </label>
          </div>

      <button class="btn btn-success">
        Create Combination
      </button>
      or
      <a href="/recipes/new">Cancel</a>
        </div>
    </form>
  </div>
</div>
